llama-index
pypdf
python-docx
beautifulsoup4
langchain
reportlab
python-dotenv
langchain_text_splitters
pymupdf
llama-index-readers-file
unstructured
unstructured-client
unstructured[pdf]
unstructured-inference
langchain-qdrant
qdrant-client
langchain-huggingface
sentence-transformers
llama-index-core
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-llms-ollama
llama-index-postprocessor-flashrank-rerank
flashrank